/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    font-family: montserrat, sans-serif;
    user-select: none;   /* Disables text highlighting. Individually removed later for to-do items */
}
body,html {
    margin: 0;
    padding: 0;
}
a:-webkit-any-link {    /* Removes default styling for links, and React Links */
    text-decoration: none;
    color: inherit;
}
/*-----------------*/
body {
    background-color: #1a1a1a;
    color: white;
}
html { /* For smooth scrolling to sections */
    scroll-behavior: smooth;
}

/* BACKGROUND ANIMATION */
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #1a1a1a 50%, #282828 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 7s;
}
.bg3 {
    animation-duration: 8s;
}
.content {
    background-color: rgba(255,255,255,.8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}
@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

/* LANDING PAGE */
#landing-page {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    height: 100vh;
}

.name {
    color: #ff4d5a;
}
h1 {
    font-weight: 300;
    align-self: end;
}
#view-work { /* View my work button */
    border: 2px solid;
    border-radius: 2px;
    padding: 5px 20px 5px 20px;
    align-self: start;
}
#view-work:hover {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1.6s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 77, 90, 0.7);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 15px rgba(255, 77, 90, 0);
	}
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 77, 90, 0);
	}
}

/* SWITCH */
.switch input {
    position: absolute;
    opacity: 0;
}
.switch {
    display: inline-block;
    font-size: 20px;
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
}
.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    transition: all 300ms;
}
.switch input:checked + div {
    transform: translate3d(100%, 0, 0);
}
.switch input:checked + #nav-bar {
    color: red;
}
/* NAV BAR */
#nav-bar {
    z-index: 1;
    list-style-type: none; /* Disable ul dots */
    display: grid;
    grid-template-columns: 1fr repeat(4, 100px);
    justify-items: center;
    justify-content: end;
    padding: 15px;
    margin: 0;
    background-color: #262626;
    position: sticky;
    top: 0;
}
.nav-links {
    font-weight: 900;
    transition: color 0.3s;
}
.nav-links:hover {
    color: #ff4d5a;
}
.switch {
    justify-self: start;
}

/* ABOUT PAGE */
#about-page {
    display: grid;
    gap: 20px;
    height: 900px;
    padding: 50px;
}
#about-info {
    display: grid;
    gap: 20px;
    grid-template-rows: auto;
}
#intro1 {
    font-weight: 600;
}
#tech-stack {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(auto-fit, 100px);
}
#tech-stack > div {
    display: grid;
    grid-template-rows: 1.2fr 0.4fr;
    gap: 10px;
    justify-items: center;
    align-items: center;

    font-family: Helvetica, sans-serif;
    font-size: 10.4px;
    line-height: 13.52px;
    text-align: center;
    text-transform: uppercase;
    border: 1px dotted white;
    border-radius: 2px;

    padding: 15px;

    transition: background-color 0.2s;
}
#tech-stack > div:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
}
i {
    font-size: 50px; /* Size of devicon icons */
}

/* PROJECTS PAGE */
#project-page {
    height: 1900px;
    padding: 50px;
}
.project-desc {
}
.para3 {
    border-top: solid 1px grey;
    padding-top: 20px;
}
.project-btn {
    width: 150px;
    color: #0ebf83;
    border: 2px solid #0ebf83;
    border-radius: 2px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    transform: perspective(1px) translateZ(0);
    transition: color 0.5s;
}
  .project-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0ebf83;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform 0.5s ease-out;
  }
  .project-btn:hover, .project-btn:focus, .project-btn:active {
    color: white
  }
  .project-btn:hover:before, .project-btn:focus:before, .project-btn:active:before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

/* FOOTER */
#footer {
    display: grid;
    background-color: #0ebf83;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    align-content: center;
}
#github-logo, #linked-logo {
    width: 1.0em;
    padding-left: 5px;
    padding-right: 5px;
    transition: transform 1.07s;
}
#github-logo:hover {transform: rotate(360deg) scale(2)}
#linked-logo:hover {color: #0072b1}

/* MEDIA QUERIES */
@media (min-width: 0px) and (max-width: 1000px) { /*0px -> 1000px */
    #landing-page {font-size: 1.2em}
    #about-page {font-size: 1em}
    #footer {font-size: 0.6em}
}
@media (min-width: 1000px) and (max-width: 1400px) { /* 1000px -> 1400px */
    #landing-page {font-size: 1.8em}
    #about-page {font-size: 1.1em}
    #footer {font-size: 1em}
}
@media (min-width: 1400px) and (max-width: 4000px) { /* 1400px -> 1600px */
    #landing-page {font-size: 2em}
    #about-page {font-size: 1.4em}
    #footer {font-size: 1.2em}
}